In [11]:
# Data cleaning for demo of difference-in-differences estimation w/ machine learning methods
# data from "Do Police Reduce Crime? Estimates Using the Allocation of Police Forces After a Terrorist Attack" Rafael Di Tella 
# https://www.aeaweb.org/articles?id=10.1257/000282804322970733

In [2]:
import pandas as pd
import numpy as np
import pyreadstat

In [3]:
cbb, _ = pyreadstat.read_dta('CrimebyBlock.dta')
panel, _ = pyreadstat.read_dta('MonthlyPanel.dta')

<ipython-input-3-ff31ce430198>:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  cbb, _ = pyreadstat.read_dta('CrimebyBlock.dta')
<ipython-input-3-ff31ce430198>:2: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  panel, _ = pyreadstat.read_dta('MonthlyPanel.dta')

In [7]:
panel = panel.join(cbb[['educjefe','ocupado']], on='observ') # education of head of household, unemployment rate
panel.head()

,observ,barrio,calle,altura,institu1,institu3,distanci,edpub,estserv,banco,totrob,mes,educjefe,ocupado
0,870.0,Once,Cordoba,a2300,0.0,1.0,1.0,1.0,0.0,0.0,0.0,4.0,13.051907,0.954406
1,851.0,Once,Tucuman,a2400,0.0,0.0,2.0,0.0,0.0,0.0,0.0,4.0,12.648452,0.950570
2,843.0,Once,Lavalle,a2300,1.0,1.0,0.0,0.0,0.0,1.0,0.0,4.0,12.648452,0.950570
3,796.0,Once,Pasteur,a500,0.0,1.0,1.0,0.0,0.0,0.0,0.0,4.0,12.893609,0.954887
4,790.0,Once,Azcuenaga,a700,1.0,1.0,0.0,0.0,0.0,0.0,0.0,4.0,12.893609,0.954887

In [8]:
panel = panel.drop(columns=['altura','institu3','distanci']) # unsure what these are

In [10]:
english_translation = {'observ': 'block',
                      'barrio': 'neighbourhood',
                      'calle': 'street',
                      'institu1': 'jewish_insitute',
                       'edpub': 'public_institution',
                       'estserv': 'gas_station',
                       'banko': 'bank',
                       'totrob': 'car_thefts',
                       'mes': 'month',
                       'educjefe': 'education',
                       'ocupado': 'employment_rate'
                      }
panel = panel.rename(columns=english_translation)

In [12]:
panel.to_csv("DiTella_crime.csv", index=False)