In [11]:
# Data cleaning for demo of difference-in-differences estimation w/ machine learning methods
# data from "Do Police Reduce Crime? Estimates Using the Allocation of Police Forces After a Terrorist Attack" Rafael Di Tella 
# https://www.aeaweb.org/articles?id=10.1257/000282804322970733

In [57]:
import pandas as pd
import numpy as np
import pyreadstat

In [66]:
cbb, _ = pyreadstat.read_dta('CrimebyBlock.dta')
panel, _ = pyreadstat.read_dta('MonthlyPanel.dta')

<ipython-input-66-ff31ce430198>:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  cbb, _ = pyreadstat.read_dta('CrimebyBlock.dta')
<ipython-input-66-ff31ce430198>:2: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  panel, _ = pyreadstat.read_dta('MonthlyPanel.dta')

In [67]:
panel = panel.merge(cbb[['observ','educjefe','ocupado']], on='observ') # education of head of household, unemployment rate

In [68]:
panel

,observ,barrio,calle,altura,institu1,institu3,distanci,edpub,estserv,banco,totrob,mes,educjefe,ocupado
0,870.0,Once,Cordoba,a2300,0.0,1.0,1.0,1.0,0.0,0.0,0.00,4.0,10.846611,0.949495
1,870.0,Once,Cordoba,a2300,0.0,1.0,1.0,1.0,0.0,0.0,0.00,5.0,10.846611,0.949495
2,870.0,Once,Cordoba,a2300,0.0,1.0,1.0,1.0,0.0,0.0,0.00,6.0,10.846611,0.949495
3,870.0,Once,Cordoba,a2300,0.0,1.0,1.0,1.0,0.0,0.0,0.00,7.0,10.846611,0.949495
4,870.0,Once,Cordoba,a2300,0.0,1.0,1.0,1.0,0.0,0.0,0.00,8.0,10.846611,0.949495
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9631,140.0,Belgrano,Virrey del Pino,a1600,0.0,0.0,3.0,0.0,0.0,0.0,0.25,10.0,12.771961,0.950423
9632,140.0,Belgrano,Virrey del Pino,a1600,0.0,0.0,3.0,0.0,0.0,0.0,0.00,11.0,12.771961,0.950423
9633,140.0,Belgrano,Virrey del Pino,a1600,0.0,0.0,3.0,0.0,0.0,0.0,0.00,12.0,12.771961,0.950423
9634,140.0,Belgrano,Virrey del Pino,a1600,0.0,0.0,3.0,0.0,0.0,0.0,0.00,72.0,12.771961,0.950423
9635,140.0,Belgrano,Virrey del Pino,a1600,0.0,0.0,3.0,0.0,0.0,0.0,0.00,73.0,12.771961,0.950423

In [69]:
panel = panel.drop(columns=['altura','institu3','distanci']) # unsure what these are

In [70]:
english_translation = {'observ': 'block',
                      'barrio': 'neighbourhood',
                      'calle': 'street',
                      'institu1': 'jewish_insitute',
                       'edpub': 'public_institution',
                       'estserv': 'gas_station',
                       'banco': 'bank',
                       'totrob': 'car_thefts',
                       'mes': 'month',
                       'educjefe': 'education',
                       'ocupado': 'employment_rate'
                      }
panel = panel.rename(columns=english_translation)

In [71]:
panel.to_csv("DiTella_crime.csv", index=False)